{% extends 'base.html' %}
{% load static %}
{% load category_template_tags %}
{% load slide_template_tags %}
{% block content %}
<style>
	/*[ Block2 ]
///////////////////////////////////////////////////////////
*/
.block2-labelpromotion::before,
.block2-labelsale::before,
.block2-labelnew::before 
{
  z-index: 100;
  font-family: Montserrat-Regular;
  font-size: 12px;
  color: rgb(16, 91, 177);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 22px;
  border-radius: 11px;
  position: absolute;
  top: 12px;
  left: 12px;
}

.block2-labelsale::before {
  background-color: white;
  color: #000;
  content: 'Sale';
}

.block2-labelnew::before {
  background-color: #007bff;
  content: 'New';
}

.block2-labelpromotion::before{
	background-color: #000;
	content: 'Promotion';
	width: 70px;
  }

  .btn-dark {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.btn-outline-dark {
    color: #000;
    border-color: #000;
}

.modal-content {
      background: rgba(0, 0, 0, 0.8); /* quasi-transparent black */
      border: none;
      border-radius: 10px;
    }
    .modal-header, .modal-footer {
      border: none;
    }
    .modal-body {
      color: #ffff; /* Darker text for better readability */
    }

.bullet-points p {
            position: relative;
            padding-left: 20px;
            margin-bottom: 10px;
        }

        .bullet-points p::before {
            content: "•";
            position: absolute;
            left: 0;
            top: 0;
            font-size: 40px;
            line-height: 0.5em;
            color: #877c02; /* Color of the bullet point, can be adjusted */
        }


</style>

	<!-- Slide1 -->
	<section class="slide1">
		<div class="wrap-slick1">
			<div class="slick1">

				{% slides %}

			</div>
		</div>
	</section>

		   <!--Qui somme nous -->
	  <section class="py-3 py-md-5">
		<div class="container">
		  <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
			<div class="col-12 col-lg-6 col-xl-5">
			  <img class="img-fluid rounded" loading="lazy" src="{% static 'images/2.png' %}" alt="About 1">
			</div>
			<div class="col-12 col-lg-6 col-xl-7">
			  <div class="row justify-content-xl-center">
				<div class="col-12 col-xl-11">
				  <h2 class="mb-3 text-secondary">Qui sommes nous ?</h2>
				  <p class="card-text entry-summary text-secondary text-justify mb-3">
					Atad est une entreprise spécialisée dans la construction métallique et offre une gamme complète de services industriels. Elle se distingue par son expertise en maintenance, moyens de manutention et ingénierie industrielle. Avec un engagement envers la qualité et l'innovation, Atad fournit des solutions personnalisées pour répondre aux besoins spécifiques de ses clients, garantissant des résultats fiables et durables. La société s'efforce de maintenir des standards élevés dans tous ses projets, assurant ainsi la satisfaction et la confiance de ses partenaires industriels.
				</div>
			  </div>
			</div>
		  </div>
		</div>

		<div class="t-center">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/LdVK5cJsCQQ?si=GBF99DotItyz0PDP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>							
		</div>
			
	  </section>  

	  <!--Contact -->

	  <section class="text-center">

		<div class="col-lg-12">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3174.8467816219218!2d9.876123874234036!3d37.27506024079087!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e31e49c4dd2685%3A0xa740779958e820e2!2sBizerte%20Marina!5e0!3m2!1sen!2stn!4v1718387446645!5m2!1sen!2stn" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			
		</div>

	  </section>


	  <!-- Presentation des services additionnels -->
	 


		<section class="py-3 py-md-5 py-xl-8">

			<div class="container">
			<div class="row">
				<div class="col-12 col-md-10 col-lg-8">
				<h2 class="display-5 mb-4 text-secondary">Nos Services additionnels</h2>
				</div>
			</div>
			</div>
		
			<div class="container overflow-hidden row col-12">

				<div class="col-lg-4">
				<article>
					<div class="card border-0">
					<img class="card-img-top img-fluid m-0" loading="lazy" src="{% static 'images/tp.jpg' %}" alt="Tinda-Parking">
					<div class="card-body border bg-white p-4">
						<div class="entry-header mb-3">
						<h2 class="card-title entry-title h4 mb-0">
							<a class="link-dark text-decoration-none" href="#!">Tinda-Parking</a>
						</h2>
						</div>
						<button class="btn btn-outline-dark" data-toggle="collapse" data-target="#tindaparkings">Plus ...</button>
						<p class="collapse card-text entry-summary text-secondary mb-3" id="tindaparking">
							Nous concevons et réalisons des solutions de stationnement sur mesure qui répondent aux besoins spécifiques de chaque client, en garantissant durabilité, sécurité et efficacité. Notre expertise en ingénierie nous permet de créer des parkings optimisés pour un usage maximal de l'espace, tout en respectant les normes de qualité les plus strictes. Que ce soit pour des projets de grande envergure ou des installations plus modestes, ATAD est votre partenaire de confiance pour des solutions de stationnement fiables et durables.
						</p>
						<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="Tinda Parking">Devis</button>
					</div>
					</div>
				</article>
				</div>

				<div class="col-lg-4">
				<article>
					<div class="card border-0">
					<img class="card-img-top img-fluid m-0" loading="lazy" src="{% static 'images/pc.jpg' %}" alt="portes">
					<div class="card-body border bg-white p-4">
						<div class="entry-header mb-3">
						<h2 class="card-title entry-title h4 mb-0">
							<a class="link-dark text-decoration-none" href="#!">Portes Métallique</a>
						</h2>
						</div>

						<button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#porte">
							Plus ...
						</button>
						<p class="collapse card-text entry-summary text-secondary mb-3" id="porte">
							Transformez l'intérieur de votre bateau avec notre service de décoration intérieure sur mesure. Que vous souhaitiez moderniser le salon, ajouter une touche d'élégance à la cabine principale ou créer un espace de détente luxueux, notre équipe de designers experts est là pour réaliser vos rêves. Nous comprenons l'importance de combiner esthétisme et fonctionnalité pour créer des espaces qui reflètent parfaitement votre style et vos besoins. Faites de votre bateau un véritable havre de paix grâce à notre savoir-faire en décoration intérieure.
						</p>
						<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="Porte Métallique">Devis</button>
						</div>

						
					</div>
				</div>

				<div class="col-lg-4">
					<article>
					<div class="card border-0">
						<img class="card-img-top img-fluid m-0" loading="lazy" src="{% static 'images/composite.jpg' %}" alt="Our Vision">
						<div class="card-body border bg-white p-4">
						<div class="entry-header mb-3">
							<h2 class="card-title entry-title h4 mb-0">
							<a class="link-dark text-decoration-none" href="#!">Solution Composite</a>
							</h2>
						</div>
						<button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#refit">
							Plus ...
						</button>
						<p class="collapse card-text entry-summary text-secondary mb-3" id="refit">
							Atad excelle dans la fabrication de solutions composites, offrant des structures innovantes et résistantes adaptées à divers besoins industriels. Nos solutions composites sont conçues pour allier légèreté, robustesse et durabilité, tout en respectant les normes environnementales. Grâce à notre expertise technique et à l'utilisation de matériaux de haute qualité, nous créons des produits sur mesure qui répondent aux exigences spécifiques de nos clients, assurant performance et fiabilité. Faites confiance à Atad pour des solutions composites qui marient innovation et efficacité.
						</p>
						<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="Petits travaux et customs">Devis</button>
						</div>
					</div>
					</article>
				</div>

			</div>

			
			
		</section>


		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
			  <div class="modal-content">
			  <div class="modal-body">
				<form>
				<div class="form-group row center">
				  <label class="control-label col-sm-2" for="name">Nom & Prenom:</label>
				  <div class="col-sm-10">
					<input type="email" class="form-control" id="name" placeholder="Entrer votre Nom et Prenom">
				  </div>
				  </div>
				  <div class="form-group row">
				  <label class="control-label col-sm-2" for="tel">Tel:</label>
				  <div class="col-sm-10">
					<input type="tel" class="form-control" id="tel" placeholder="Entrer votre Numéro de Télephone">
				  </div>
				  </div>
		  
				  <div class="form-group row">
				  <label class="control-label col-sm-2" for="email">Email:</label>
				  <div class="col-sm-10">
					<input type="email" class="form-control" id="email" placeholder="Entrer votre email">
				  </div>
				  </div>
				  
				  <div class="form-group row mt-3">
					<label class="control-label col-sm-2" for="tel">Objet:</label>
					<div class="col-sm-10">
					  <input type="texte" class="form-control" id="object">
					</div>
					</div>
				
				<div class="form-group">
				  <label for="message-text" class="col-form-label">Message:</label>
				  <textarea class="form-control" id="message-text"></textarea>
				</div>
				</form>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
				<button type="button" class="btn btn-primary" id="envoyer">Envoyer</button>
			  </div>
			  </div>
			</div>
			</div>
		  
		  
			<div class="modal fade" id="statusSuccessModal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false"> 
			<div class="modal-dialog modal-dialog-centered modal-sm" role="document"> 
			  <div class="modal-content"> 
				<div class="modal-body text-center p-lg-4"> 
				  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
					<circle class="path circle" fill="none" stroke="#198754" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
					<polyline class="path check" fill="none" stroke="#198754" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " /> 
				  </svg> 
				  <h4 class="text-success mt-3">Demande de devis envoyée !</h4> 
				  <p class="mt-3">Nous vous remercions.</p>
				  <button id="okval" type="button" class="btn btn-sm mt-3 btn-success" data-bs-dismiss="modal">Ok</button> 
				</div> 
			  </div> 
			</div> 
		  </div>

 

 



	{% endblock content %}


	