{% extends 'base.html' %}
{% load static %}
{% load category_template_tags %}
{% block content %}
<style type="text/css">
	.selection-2{
	display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	}

	.modal-content {
      background: rgba(0, 0, 0, 0.8); /* quasi-transparent black */
      border: none;
      border-radius: 10px;
    }
    .modal-header, .modal-footer {
      border: none;
    }
    .modal-body {
      color: #ffff; /* Darker text for better readability */
    }

.bullet-points p {
            position: relative;
            padding-left: 20px;
            margin-bottom: 10px;
        }

        .bullet-points p::before {
            content: "•";
            position: absolute;
            left: 0;
            top: 0;
            font-size: 40px;
            line-height: 0.5em;
            color: #877c02; /* Color of the bullet point, can be adjusted */
        }

		.cardtop {
			position: absolute;
            right: 5%; /* Décalage de la carte à droite */
            top: 35%; 
            width: 80%; /* Utilisation de pourcentages pour la largeur */
            max-width: 600px; /* Limite maximale de la largeur */
            height: auto; /* Hauteur automatique */
            margin: 7% auto; /* Centrage horizontal et marge en haut */
            padding: 2%; /* Padding pour le contenu */
			background: white; /* Couleur de fond pour la carte */
            box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optionnel: ajout d'une ombre */
            border: 1px solid #ddd; /* Optionnel: bordure pour la carte */
        }
        
        .cardtop-body {
            margin-top: 5%;
			margin-left: 80% auto;
        }
        
        .cardtop-title {
            justify-content: flex-start; 
            color: black; 
            font-size: 25px; 
            font-weight: bold;
        }
        
        .cardtop-text {
            align-self: center; 
            text-align: justify; 
            color: black;
        }
        
        @media (max-width: 500px) {
            .cardtop {
				position: absolute;
				top: 15%; 
                width: 90%; /* Réduire la largeur sur les petits écrans */
                margin: 5% auto; /* Ajuster la marge */
            }
            
            .cardtop-title {
                font-size: 20px; /* Réduire la taille de la police pour les petits écrans */
            }
        }

		@media (min-width: 500px) and (max-width: 750px) {
            .cardtop {
				position: absolute;
				top: 15%; 
                width: 90%; /* Réduire la largeur sur les petits écrans */
                margin: 5% auto; /* Ajuster la marge */
            }
            
            .cardtop-title {
                font-size: 20px; /* Réduire la taille de la police pour les petits écrans */
            }
        }

</style>
<div class="row"> 
	<!-- Title Page -->
	<div class="item-slick1 p-t-60 p-b-100" style="background-image: url(/static/images/si.jpg); width: 60%;">

		<div class="cardtop">
			<div class="cardtop-body" style="margin-top: 5%;">
				<h5 class="cardtop-title">SERVICES INDUSTRIELS</h5>
	
				<p class="cardtop-text t-center">
					Atad offre une gamme complète de services industriels, visant à optimiser la performance et la longévité des installations de ses clients. Nos services incluent la maintenance préventive et corrective, l'inspection et l'audit des équipements, ainsi que la modernisation et la réparation des installations existantes. Grâce à notre expertise et notre savoir-faire technique, nous assurons un fonctionnement fiable et efficace de vos équipements industriels, tout en réduisant les temps d'arrêt et en améliorant la sécurité et la productivité de vos opérations.
				</p>
			</div>
	
		</div>
	</div>

</div>


	<!-- Content page -->
	<section class="py-3 py-md-5 py-xl-8">
		
		<div class="container mt-1" id="maintenance">
			<div class="card">
				<div class="row no-gutters">
					<div class="col-md-6">
						<img src="{% static 'images/maintenance.jpg' %}" class="card-img" alt="Image">
					</div>
					<div class="col-md-6">
						<div class="card-body t-center mt-5">
							<h5 class="card-title entry-title">Maintenance Industrielle</h5>
							<p class="card-text text-justify" style="color: black;">
								Atad offre des services de maintenance industrielle visant à garantir la performance optimale et la durabilité de vos équipements. Nous proposons des solutions de maintenance préventive et corrective, assurant la réduction des temps d'arrêt et l'augmentation de la productivité. Notre équipe d'experts utilise des techniques avancées pour diagnostiquer, réparer et optimiser les machines, contribuant ainsi à la sécurité et à l'efficacité de vos opérations industrielles.
								<p style="color: black; text-align: left;">Nous assurons le nettoyage:</p>
								<div class="bullet-points t-left" style="color: black;">
									<p style="color: black;">Préventive / Corrective</p>
									<p style="color: black;">Installation Electrique</p>
									<p style="color: black;">Plomberie</p>
									<p style="color: black;">Installation d'air</p>
									<p style="color: black;">Rebobinage & Réparation</p>
								</div>
							</p>
							<button type="button" class="btn btn-outline-primary t-center" data-toggle="modal" data-target="#exampleModal" data-whatever="Maintenance Industrielle">Demander un devis</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container mt-1" id="tabaff">
			<div class="card">
				<div class="row no-gutters">
					<div class="col-md-6">
						<div class="card-body t-center mt-5">
							<h5 class="card-title entry-title">Tableau d'Affichage</h5>
							<p class="card-text text-justify" style="color: black; text-align: justify;">
								Atad propose des tableaux d'affichage de haute qualité pour répondre aux besoins de communication visuelle dans les environnements industriels. Conçus pour résister aux conditions difficiles, nos tableaux d'affichage sont idéaux pour présenter des informations essentielles, telles que les procédures de sécurité, les annonces d'entreprise et les mises à jour de production. Ils sont disponibles en plusieurs formats et peuvent être personnalisés selon vos spécifications, assurant une visibilité optimale et une organisation claire des informations cruciales pour vos équipes.<div class="bullet-points t-left" style="color: black;">
								</div>
							</p>
							<div style="align-items: center;">
								<button style="align-items: center;" type="button" class="btn btn-outline-primary center" data-toggle="modal" data-target="#exampleModal" data-whatever="Tableau d'Affichage" >Demander un devis</button>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<img src="{% static 'images/tabaffichage.jpeg' %}" class="card-img" alt="Image">
					</div>
				</div>
			</div>
		</div>


		<div class="container mt-1" id="projet5s">
			<div class="card">
				<div class="row no-gutters">
					<div class="col-md-6">
						<img src="{% static 'images/projet5s.jpeg' %}" class="card-img" alt="Image">
					</div>
					<div class="col-md-6">
						<div class="card-body t-center">
							<h5 class="card-title entry-title">Projet 5 S</h5>
							<p class="card-text" style="color: black; text-align: justify;">
								Atad propose des solutions de rangement et d'organisation pour le projet 5S, visant à améliorer l'efficacité et l'ordre dans les environnements de travail. Nos rayonnages et autres systèmes de stockage sont conçus pour faciliter le tri (Seiri), le rangement (Seiton), et le nettoyage (Seiso) des espaces de travail. En standardisant (Seiketsu) et en maintenant la discipline (Shitsuke), nous aidons nos clients à créer des espaces de travail plus propres, plus organisés et plus productifs. Nos solutions sont adaptables et personnalisées pour répondre aux besoins spécifiques de chaque entreprise.
					  		</p>

							<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="Projet 5 S" >Demander un devis</button>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="container mt-1" id="rack">
			<div class="card">
				<div class="row no-gutters">
					<div class="col-md-6">
						<div class="card-body t-center mt-5">
							<h5 class="card-title entry-title">Rack de Stockage</h5>
								<p class="card-text" style="color: black; text-align: justify;">
									Des racks de stockage robustes et modulables pour optimiser l'organisation et l'efficacité de vos espaces industriels. Nos racks sont conçus pour supporter des charges lourdes et maximiser l'utilisation de l'espace vertical, offrant des solutions de rangement adaptées à divers types de matériaux et de produits. Grâce à leur conception modulable, nos racks peuvent être ajustés en fonction de vos besoins spécifiques, permettant une gestion efficace des stocks et un accès facile aux articles entreposés. Faites confiance à Atad pour des solutions de stockage fiables et durables.
								</p>
							

							<button type="button" class="btn btn-outline-primary t-center" data-toggle="modal" data-target="#exampleModal" data-whatever="Rack de Stockage" >Demander un devis</button>
						</div>
					</div>
					<div class="col-md-6">
						<img src="{% static 'images/rackstockage.png' %}" class="card-img" alt="Image">
					</div>
				</div>
			</div>
		</div>


		<div class="container mt-1" id="charriot">
			<div class="card">
				<div class="row no-gutters">
					<div class="col-md-6">
						<img src="{% static 'images/charriotind.jpg' %}" class="card-img" alt="Image">
					</div>
					<div class="col-md-6">
						<div class="card-body t-center">
							<h5 class="card-title entry-title">Charriot Industrielle</h5>
							<p class="card-text" style="color: black; text-align: justify;">
								Atad propose une gamme de chariots industriels robustes et polyvalents conçus pour faciliter le transport et la manipulation des matériaux dans les environnements de production et de stockage. Nos chariots sont fabriqués avec des matériaux de haute qualité pour assurer durabilité et fiabilité, même dans des conditions de travail intensives. Disponibles en plusieurs configurations, nos chariots industriels sont adaptés à diverses applications, offrant une solution efficace pour améliorer la logistique interne et optimiser le flux de travail. Faites confiance à Atad pour des équipements de manutention performants et sécurisés.
							</p>

							<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="Charriot Industriel" >Demander un devis</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container mt-1" id="echaffaudage">
			<div class="card">
				<div class="row no-gutters">
					<div class="col-md-6">
						<div class="card-body t-center mt-5">
							<h5 class="card-title entry-title">Echaffaudage</h5>
								<p class="card-text" style="color: black; text-align: justify;">
									Des échafaudages de haute qualité, conçus pour garantir sécurité et efficacité dans vos projets de construction ou de maintenance. Nos échafaudages sont fabriqués avec des matériaux robustes et sont conformes aux normes de sécurité en vigueur, offrant une stabilité et une durabilité exceptionnelles. Disponibles en plusieurs configurations, ils peuvent être adaptés à divers environnements de travail et projets spécifiques. Avec Atad, bénéficiez de solutions d'échafaudage fiables qui facilitent l'accès et le travail en hauteur, tout en assurant la sécurité de vos équipes.
								</p>
							

							<button type="button" class="btn btn-outline-primary t-center" data-toggle="modal" data-target="#exampleModal" data-whatever="Echaffaudage" >Demander un devis</button>
						</div>
					</div>
					<div class="col-md-6">
						<img src="{% static 'images/echa.jpg' %}" class="card-img" alt="Image">
					</div>
				</div>
			</div>
		</div>

		<div class="container mt-1" id="table">
			<div class="card">
				<div class="row no-gutters">
					<div class="col-md-6">
						<img src="{% static 'images/tab.jpeg' %}" class="card-img" alt="Image">
					</div>
					<div class="col-md-6">
						<div class="card-body t-center">
							<h5 class="card-title entry-title">Table de Travail</h5>
							<p class="card-text" style="color: black; text-align: justify;">
								Atad propose des tables de travail robustes et ergonomiques, adaptées à divers environnements industriels et ateliers. Conçues pour offrir une surface de travail stable et résistante, nos tables de travail sont fabriquées à partir de matériaux de haute qualité, assurant durabilité et longévité. Disponibles en différentes tailles et configurations, elles peuvent être personnalisées pour répondre aux besoins spécifiques de chaque projet. Nos tables de travail sont idéales pour améliorer l'efficacité et le confort des opérateurs, contribuant ainsi à un environnement de travail productif et sécurisé.</p>

							<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="Table de Travail" >Demander un devis</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container mt-1" id="gabaris">
			<div class="card">
				<div class="row no-gutters">
					<div class="col-md-6">
						<div class="card-body t-center mt-5">
							<h5 class="card-title entry-title">Gabaris</h5>
								<p class="card-text" style="color: black; text-align: justify;">
									Atad propose des gabarits de haute précision pour répondre aux besoins spécifiques des projets industriels et de construction. Nos gabarits sont conçus pour assurer des mesures exactes et une répétabilité fiable, facilitant ainsi l'assemblage et la production en série. Fabriqués avec des matériaux robustes et durables, nos gabarits garantissent une longue durée de vie et une performance constante. Disponibles en différentes formes et tailles, ils peuvent être personnalisés pour s'adapter à divers usages et exigences techniques. Faites confiance à Atad pour des outils de mesure précis et efficaces.
								</p>
							

							<button type="button" class="btn btn-outline-primary t-center" data-toggle="modal" data-target="#exampleModal" data-whatever="Gabaris" >Demander un devis</button>
						</div>
					</div>
					<div class="col-md-6">
						<img src="{% static 'images/gab.jpg' %}" class="card-img" alt="Image">
					</div>
				</div>
			</div>
		</div>

		<div class="container mt-1" id="sablagepeinture">
			<div class="card">
				<div class="row no-gutters">
					<div class="col-md-6">
						<img src="{% static 'images/sablage.jpg' %}" class="card-img" alt="Image">
					</div>
					<div class="col-md-6">
						<div class="card-body t-center">
							<h5 class="card-title entry-title">Sablage & Peinture</h5>
							<p class="card-text" style="color: black; text-align: justify;">
								Atad offre des services professionnels de sablage et de peinture pour répondre aux besoins de protection et de finition de vos équipements et structures métalliques. Le sablage permet de nettoyer et de préparer les surfaces en éliminant les impuretés, la rouille et les anciennes couches de peinture, assurant ainsi une adhérence optimale de la nouvelle peinture. Nos solutions de peinture industrielles sont conçues pour fournir une protection durable contre la corrosion et les intempéries, tout en améliorant l'apparence et la longévité des surfaces traitées. Faites confiance à Atad pour des résultats de haute qualité et une finition impeccable.
							<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="Sablage & Peinture" >Demander un devis</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container mt-1" id="cncplasma">
			<div class="card">
				<div class="row no-gutters">
					<div class="col-md-6">
						<div class="card-body t-center mt-5">
							<h5 class="card-title entry-title">CNC Plasma</h5>
								<p class="card-text" style="color: black; text-align: justify;">
									Atad propose des services de découpe CNC et plasma de haute précision pour répondre à vos besoins de fabrication industrielle. Nos machines CNC (Commande Numérique par Ordinateur) permettent une découpe précise et répétitive de divers matériaux, tandis que nos systèmes de découpe plasma offrent une solution efficace pour la découpe rapide de métaux. Ces technologies avancées garantissent des finitions impeccables et des tolérances strictes, idéales pour la production de pièces complexes et personnalisées. Faites confiance à Atad pour des solutions de découpe innovantes et de qualité supérieure.
								</p>
							

							<button type="button" class="btn btn-outline-primary t-center" data-toggle="modal" data-target="#exampleModal" data-whatever="CNC Plasma" >Demander un devis</button>
						</div>
					</div>
					<div class="col-md-6">
						<img src="{% static 'images/plasmacnc.jpg' %}" class="card-img" alt="Image">
					</div>
				</div>
			</div>
		</div>

		<div class="container mt-1" id="genie">
			<div class="card">
				<div class="row no-gutters">
					<div class="col-md-6">
						<img src="{% static 'images/geniecivil.jpeg' %}" class="card-img" alt="Image">
					</div>
					<div class="col-md-6">
						<div class="card-body t-center">
							<h5 class="card-title entry-title">Genie Civil</h5>
							<p class="card-text" style="color: black; text-align: justify;">
								ATAD, leader en génie civil, propose des solutions complètes pour tous vos projets de construction et d'infrastructure. De la conception à la réalisation, nous utilisons notre expertise pour garantir des résultats durables et conformes aux normes les plus strictes. Engagés envers la qualité et la sécurité, nous assurons une gestion efficace de vos projets tout en respectant les délais et les budgets. Contactez-nous pour un devis personnalisé et découvrez comment nos services en génie civil peuvent concrétiser vos projets avec succès.
							</p>
							<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="Sablage & Peinture" >Demander un devis</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	

		<!-----------------Modal du Formualire de Devis --------------------------->
		
	  </section>


	  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-body">
			  <form>
				<div class="form-group row center">
					<label class="control-label col-sm-2" for="name">Nom & Prenom:</label>
					<div class="col-sm-10">
					  <input type="email" class="form-control" id="name" placeholder="Entrer votre Nom et Prenom">
					</div>
				  </div>
				  <div class="form-group row">
					<label class="control-label col-sm-2" for="tel">Tel:</label>
					<div class="col-sm-10">
					  <input type="tel" class="form-control" id="tel" placeholder="Entrer votre Numéro de Télephone">
					</div>
				  </div>

				  <div class="form-group row">
					<label class="control-label col-sm-2" for="email">Email:</label>
					<div class="col-sm-10">
					  <input type="email" class="form-control" id="email" placeholder="Entrer votre email">
					</div>
				  </div>
					<div class="form-group row mt-3">
						<label class="control-label col-sm-2" for="tel">Objet:</label>
						<div class="col-sm-10">
						  <input type="texte" class="form-control" id="object">
						</div>
					  </div>
				
				<div class="form-group">
				  <label for="message-text" class="col-form-label">Message:</label>
				  <textarea class="form-control" id="message-text"></textarea>
				</div>
			  </form>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
			  <button type="button" class="btn btn-primary" id="envoyer">Envoyer</button>
			</div>
		  </div>
		</div>
	  </div>


	  <div class="modal fade" id="statusSuccessModal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false"> 
		<div class="modal-dialog modal-dialog-centered modal-sm" role="document"> 
			<div class="modal-content"> 
				<div class="modal-body text-center p-lg-4"> 
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
						<circle class="path circle" fill="none" stroke="#198754" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
						<polyline class="path check" fill="none" stroke="#198754" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " /> 
					</svg> 
					<h4 class="text-success mt-3">Demande de devis envoyée !</h4> 
					<p class="mt-3">Nous vous remercions.</p>
					<button id="okval" type="button" class="btn btn-sm mt-3 btn-success" data-bs-dismiss="modal">Ok</button> 
				</div> 
			</div> 
		</div> 
	</div>

		{% endblock content %}
